<?xml version="1.0"?>
<phpunit colors="true" bootstrap="vendor/autoload.php" verbose="true" stopOnFailure="true">
    <testsuites>
        <testsuite name="unit">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>
    <coverage ignoreDeprecatedCodeUnits="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <report>
            <clover outputFile="clover.xml" />
        </report>
    </coverage>
</phpunit>
