name: CI

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php_version:
          - "8.0"
          - "8.1"
          - "8.2"
          - "8.3"
    steps:
    - uses: actions/checkout@v4
    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php_version }}
        coverage: none
        tools: composer:v2

    - run: composer install

    - run: composer test

    - run: bash <(curl -s https://codecov.io/bash)
